Repository Deepractice/ResourceX: changes, and which lefthook commands are due for each by the changed paths.
All: format-fix, lint-fix

lefthook.yml:

# Lefthook configuration for ResourceX
# https://lefthook.dev/configuration/

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

pre-commit:
  commands:
    format-fix:
      glob: "*.{js,ts,json,md,yml,yaml}"
      run: bun prettier --write {staged_files} && git add {staged_files}

    lint-fix:
      glob: "*.{js,ts}"
      run: bun eslint --fix {staged_files} && git add {staged_files}

pre-push:
  parallel: false
  commands:
    install-check:
      priority: 1
      run: bun install --frozen-lockfile
      fail_text: "Lockfile is outdated. Run 'bun install' to update it."

    format:
      priority: 2
      run: bun format:check

    lint:
      priority: 3
      run: bun lint

    typecheck:
      priority: 4
      run: bun typecheck

    test:
      priority: 5
      run: bun test

chore: remove temp files and add to gitignore
  .gitignore
  .test-temp/localhost/test.unknown@1.0.0/manifest.json
Due: format-fix

refactor(registry): version as subdirectory, content.tar.gz extension
  bdd/custom-registry/localhost/test.prompt@1.0.0/content
  bdd/custom-registry/localhost/test.prompt@1.0.0/manifest.json
  bdd/custom-registry/localhost/test.text/1.0.0/content.tar.gz
  bdd/custom-registry/localhost/test.text/1.0.0/manifest.json
  bdd/custom-registry/localhost/test.text@1.0.0/content
  packages/registry/src/ARPRegistry.ts
Due: format-fix, lint-fix

chore: add changeset for storage structure change
  .changeset/storage-structure-change.md
Due: format-fix

feat(arp,registry): add RxrTransport and Registry.get()
  .changeset/rxr-transport.md
  CLAUDE.md
  bdd/custom-registry/localhost/test.text/1.0.0/content.tar.gz
  bdd/features/arp/rxr-transport.feature
  bdd/features/registry-get.feature
  bdd/steps/arp/rxr-transport.steps.ts
  bdd/steps/registry/registry-get.steps.ts
  bdd/steps/registry/registry.steps.ts
  issues/004-registry-http-protocol.md
  packages/arp/src/index.ts
  packages/arp/src/transport/index.ts
  packages/arp/src/transport/rxr.ts
  packages/registry/src/ARPRegistry.ts
  packages/registry/src/types.ts
Due: format-fix, lint-fix

refactor(registry): replace ARPRegistry with LocalRegistry
  .changeset/local-registry-refactor.md
  CLAUDE.md
  bun.lock
  issues/015-registry-remote-support.md
  packages/registry/package.json
  packages/registry/src/LocalRegistry.ts
  packages/registry/src/createRegistry.ts
  packages/registry/src/index.ts
  packages/registry/tests/unit/LocalRegistry.test.ts
  packages/resourcex/src/index.ts
Due: format-fix, lint-fix

chore: format test fixtures
  bdd/custom-registry/localhost/test.text/1.0.0/content.tar.gz
Due: none

feat(registry,arp): add RemoteRegistry and auto-create Registry
  .changeset/remote-registry-support.md
  bdd/custom-registry/localhost/test.text/1.0.0/content.tar.gz
  bdd/features/arp/rxr-transport.feature
  bdd/steps/arp/rxr-transport.steps.ts
  bun.lock
  issues/014-registry-http-protocol.md
  packages/arp/package.json
  packages/arp/src/index.ts
  packages/arp/src/transport/index.ts
  packages/arp/src/transport/rxr.ts
  packages/core/package.json
  packages/registry/src/LocalRegistry.ts
  packages/registry/src/RemoteRegistry.ts
  packages/registry/src/createRegistry.ts
  packages/registry/src/index.ts
  packages/registry/src/types.ts
Due: format-fix, lint-fix

docs: update README with RemoteRegistry and storage structure
  README.md
Due: format-fix

docs: update CLAUDE.md with RemoteRegistry and auto-create Registry
  CLAUDE.md
Due: format-fix

docs: add built-in transport/semantic documentation
  CLAUDE.md
  README.md
  packages/arp/README.md
  packages/registry/README.md
Due: format-fix

docs: add issues for GitHub Registry support
  issues/016-github-registry-design.md
  issues/017-separate-local-cache.md
  issues/018-github-registry-implementation.md
Due: format-fix

feat(registry): separate local and cache storage directories
  .changeset/local-cache-separation.md
  CLAUDE.md
  bdd/custom-registry/localhost/test.text/1.0.0/content.tar.gz
  bdd/custom-registry/localhost/test.text/1.0.0/manifest.json
  bdd/features/registry-local-cache.feature
  bdd/steps/registry/local-cache.steps.ts
  bdd/steps/registry/registry-get.steps.ts
  bdd/steps/registry/registry.steps.ts
  packages/registry/README.md
  packages/registry/src/LocalRegistry.ts
  packages/registry/src/RemoteRegistry.ts
  packages/registry/src/index.ts
  packages/registry/src/types.ts
Due: format-fix, lint-fix

feat(registry): add GitRegistry for git-based remote registries
  packages/registry/src/GitRegistry.ts
  packages/registry/src/createRegistry.ts
  packages/registry/src/index.ts
  packages/registry/src/types.ts
Due: format-fix, lint-fix

feat(registry): add domain security for GitRegistry
  .changeset/git-registry-security.md
  CLAUDE.md
  README.md
  bdd/custom-registry/local/test.text/1.0.0/content.tar.gz
  bdd/custom-registry/local/test.text/1.0.0/manifest.json
  bdd/features/registry-git.feature
  bdd/steps/registry/git.steps.ts
  bdd/steps/registry/registry.steps.ts
  cloudflare/workers/well-known/src/index.ts
  cloudflare/workers/well-known/wrangler.toml
  issues/019-registry-storage-separation.md
  packages/arp/src/transport/rxr.ts
  packages/registry/src/GitRegistry.ts
  packages/registry/src/RemoteRegistry.ts
  packages/registry/src/index.ts
  packages/registry/src/types.ts
Due: format-fix, lint-fix

refactor(arp): move RxrTransport to main package
  .changeset/rxr-transport-to-main-package.md
  CLAUDE.md
  bdd/custom-registry/local/test.text/1.0.0/content.tar.gz
  bun.lock
  issues/019-registry-storage-separation.md
  packages/arp/README.md
  packages/arp/package.json
  packages/arp/src/index.ts
  packages/arp/src/transport/index.ts
  packages/resourcex/src/arp.ts
  packages/resourcex/src/transport/index.ts
  packages/resourcex/src/transport/rxr.ts
Due: format-fix, lint-fix

fix(registry): support both main and master branches in GitRegistry
  bdd/custom-registry/local/test.text/1.0.0/content.tar.gz
  bdd/steps/registry/git.steps.ts
  packages/registry/src/GitRegistry.ts
  packages/resourcex/src/index.ts
Due: format-fix, lint-fix

fix(ci): skip network tests in CI and improve git error handling
  .github/workflows/ci.yml
  bdd/custom-registry/local/test.text/1.0.0/content.tar.gz
  bdd/package.json
  package.json
  packages/registry/src/GitRegistry.ts
Due: format-fix, lint-fix

fix(ci): use separate cucumber config to exclude network tests
  bdd/cucumber.ci.js
  bdd/custom-registry/local/test.text/1.0.0/content.tar.gz
  bdd/package.json
Due: format-fix, lint-fix

fix(registry): add ErrorOptions support to RegistryError
  bdd/custom-registry/local/test.text/1.0.0/content.tar.gz
  packages/registry/src/errors.ts
Due: format-fix, lint-fix

docs: update tagline from "resource layer" to "resource solution"
  README.md
  README.zh-CN.md
Due: format-fix

test: use local git repo for domain validation tests
  .github/workflows/ci.yml
  bdd/.gitignore
  bdd/cucumber.ci.js
  bdd/custom-registry/local/test.text/1.0.0/content.tar.gz
  bdd/custom-registry/local/test.text/1.0.0/manifest.json
  bdd/features/registry-git.feature
  bdd/package.json
  bdd/steps/registry/git.steps.ts
  package.json
Due: format-fix, lint-fix

fix(registry): use isomorphic-git instead of system git
  .changeset/git-registry-isomorphic-git.md
  bun.lock
  packages/registry/package.json
  packages/registry/src/GitRegistry.ts
Due: format-fix, lint-fix

feat(registry): refactor API with link/add/publish
  .changeset/registry-link-add-api.md
  CLAUDE.md
  README.md
  README.zh-CN.md
  bdd/features/registry-add-publish.feature
  bdd/steps/registry/git.steps.ts
  bdd/steps/registry/local-cache.steps.ts
  bdd/steps/registry/middleware.steps.ts
  bdd/steps/registry/registry-get.steps.ts
  bdd/steps/registry/registry-resolve.steps.ts
  bdd/steps/registry/registry.steps.ts
  bun.lock
  docs/README.md
  docs/api/registry.md
  docs/concepts/overview.md
  docs/concepts/resourcex/registry.md
  docs/concepts/resourcex/rxr-resource.md
  docs/contributing/conventions.md
  docs/design/adr-003-registry-storage.md
  docs/getting-started/quick-start.md
  docs/guides/arp-protocol.md
  docs/guides/custom-types.md
  docs/guides/git-registry.md
  docs/guides/local-registry.md
  docs/guides/remote-registry.md
  packages/registry/README.md
  packages/registry/package.json
  packages/registry/src/GitRegistry.ts
  packages/registry/src/LocalRegistry.ts
  packages/registry/src/RemoteRegistry.ts
  packages/registry/src/middleware/RegistryMiddleware.ts
  packages/registry/src/types.ts
  packages/registry/tests/unit/LocalRegistry.test.ts
Due: format-fix, lint-fix

docs: update tagline to include "infrastructure"
  README.md
  README.zh-CN.md
Due: format-fix

feat(registry): add GitHubRegistry using tarball download
  .changeset/github-registry.md
  bdd/features/registry-github.feature
  bdd/steps/registry/github.steps.ts
  cloudflare/workers/well-known/src/index.ts
  packages/registry/src/GitHubRegistry.ts
  packages/registry/src/createRegistry.ts
  packages/registry/src/index.ts
  packages/registry/src/types.ts
Due: format-fix, lint-fix

refactor(registry): use responsibility chain for URL auto-detection
  CLAUDE.md
  bdd/features/registry-github.feature
  bdd/steps/registry/github.steps.ts
  packages/registry/src/GitHubRegistry.ts
  packages/registry/src/GitRegistry.ts
  packages/registry/src/RemoteRegistry.ts
  packages/registry/src/createRegistry.ts
  packages/registry/src/index.ts
  packages/registry/src/types.ts
  packages/resourcex/src/index.ts
Due: format-fix, lint-fix

refactor(core): replace RXC with RXA/RXP architecture
  CLAUDE.md
  bdd/features/registry-get.feature
  bdd/features/registry-local-cache.feature
  bdd/features/resourcex/archive.feature
  bdd/features/resourcex/content.feature
  bdd/steps/registry/git.steps.ts
  bdd/steps/registry/github.steps.ts
  bdd/steps/registry/local-cache.steps.ts
  bdd/steps/registry/middleware.steps.ts
  bdd/steps/registry/registry-get.steps.ts
  bdd/steps/registry/registry-resolve.steps.ts
  bdd/steps/registry/registry.steps.ts
  bdd/steps/resourcex/archive.steps.ts
  bdd/steps/resourcex/content.steps.ts
  bdd/steps/resourcex/resolver-schema.steps.ts
  bdd/steps/resourcex/resolver.steps.ts
  packages/core/src/archive/createRXA.ts
  packages/core/src/archive/index.ts
  packages/core/src/archive/types.ts
  packages/core/src/content/createRXC.ts
  packages/core/src/content/index.ts
  packages/core/src/content/types.ts
  packages/core/src/index.ts
  packages/core/src/resource/types.ts
  packages/core/tests/unit/content/createRXC.test.ts
  packages/loader/src/FolderLoader.ts
  packages/loader/tests/unit/loadResource.test.ts
  packages/registry/src/GitHubRegistry.ts
  packages/registry/src/GitRegistry.ts
  packages/registry/src/LocalRegistry.ts
  packages/registry/tests/unit/LocalRegistry.test.ts
  packages/resourcex/src/index.ts
  packages/resourcex/src/transport/rxr.ts
  packages/type/src/builtinTypes.ts
  packages/type/tests/unit/TypeHandlerChain.test.ts
Due: format-fix, lint-fix

chore: add changeset for RXA/RXP refactor
  .changeset/rxa-rxp-refactor.md
Due: format-fix

docs: update documentation for RXA/RXP architecture
  docs/README.md
  docs/api/arp.md
  docs/api/core.md
  docs/api/errors.md
  docs/api/registry.md
  docs/concepts/arp/protocol.md
  docs/concepts/overview.md
  docs/concepts/resourcex/registry.md
  docs/concepts/resourcex/rxa-archive.md
  docs/concepts/resourcex/rxc-content.md
  docs/concepts/resourcex/rxm-manifest.md
  docs/concepts/resourcex/rxp-package.md
  docs/concepts/resourcex/rxr-resource.md
  docs/concepts/resourcex/type-system.md
  docs/contributing/development.md
  docs/design/README.md
  docs/design/adr-001-two-layer-architecture.md
  docs/design/adr-003-registry-storage.md
  docs/getting-started/installation.md
  docs/getting-started/introduction.md
  docs/getting-started/quick-start.md
  docs/guides/arp-protocol.md
  docs/guides/custom-types.md
  docs/guides/git-registry.md
  docs/guides/local-registry.md
  docs/guides/remote-registry.md
Due: format-fix

docs: update all README files for RXA/RXP architecture
  README.md
  README.zh-CN.md
  packages/core/README.md
  packages/loader/README.md
  packages/registry/README.md
  packages/resourcex/README.md
  packages/type/README.md
Due: format-fix

test: add documentation examples BDD tests
  bdd/features/documentation-examples.feature
  bdd/steps/documentation/examples.steps.ts
Due: format-fix, lint-fix

refactor: remove serializer from ResourceType, unify storage format
  .changeset/remove-serializer.md
  bdd/steps/registry/git.steps.ts
  bdd/steps/registry/local-cache.steps.ts
  packages/registry/src/GitHubRegistry.ts
  packages/registry/src/GitRegistry.ts
  packages/registry/src/LocalRegistry.ts
  packages/registry/src/RemoteRegistry.ts
  packages/type/src/TypeHandlerChain.ts
  packages/type/src/builtinTypes.ts
  packages/type/src/index.ts
  packages/type/src/types.ts
  packages/type/tests/unit/TypeHandlerChain.test.ts
Due: format-fix, lint-fix

feat: introduce BundledType for sandbox-compatible execution
  .changeset/bundled-type.md
  bdd/features/registry/registry-with-types.feature
  bdd/features/resource-type/bundled-type.feature
  bdd/steps/registry/registry-resolve.steps.ts
  bdd/steps/resourcex/resolver-schema.steps.ts
  bdd/steps/resourcex/resolver.steps.ts
  issues/020-resolver-sandbox-architecture.md
  issues/021-storage-sandbox-separation.md
  packages/registry/src/GitHubRegistry.ts
  packages/registry/src/GitRegistry.ts
  packages/registry/src/LocalRegistry.ts
  packages/registry/src/RemoteRegistry.ts
  packages/registry/src/middleware/RegistryMiddleware.ts
  packages/registry/src/types.ts
  packages/registry/tests/unit/LocalRegistry.test.ts
  packages/resourcex/src/index.ts
  packages/type/src/TypeHandlerChain.ts
  packages/type/src/builtinTypes.ts
  packages/type/src/bundler.ts
  packages/type/src/index.ts
  packages/type/src/types.ts
  packages/type/tests/unit/TypeHandlerChain.test.ts
Due: format-fix, lint-fix

refactor: simplify Registry architecture with Cache-Source model
  bdd/features/registry-git.feature
  bdd/features/registry-github.feature
  bdd/features/registry-local-cache.feature
  bdd/features/registry-remote-fetch.feature
  bdd/features/registry/registry-with-types.feature
  issues/021-registry-cache-source-architecture.md
  packages/registry/src/LocalRegistry.ts
  packages/registry/src/Registry.ts
  packages/registry/src/RemoteRegistry.ts
  packages/registry/src/createRegistry.ts
  packages/registry/src/discovery.ts
  packages/registry/src/index.ts
  packages/registry/src/middleware/DomainValidation.ts
  packages/registry/src/middleware/RegistryMiddleware.ts
  packages/registry/src/storage/GitHubStorage.ts
  packages/registry/src/storage/GitStorage.ts
  packages/registry/src/storage/LocalStorage.ts
  packages/registry/src/storage/Storage.ts
  packages/registry/src/storage/index.ts
  packages/resourcex/src/index.ts
  packages/resourcex/src/transport/rxr.ts
Due: format-fix, lint-fix

refactor: remove GitStorage and GitHubStorage
  packages/registry/src/index.ts
  packages/registry/src/storage/GitHubStorage.ts
  packages/registry/src/storage/GitStorage.ts
  packages/registry/src/storage/index.ts
  packages/resourcex/src/index.ts
Due: format-fix, lint-fix

feat: enable aliases and schema BDD tests
  bdd/features/registry/registry-with-types.feature
  bdd/steps/registry/registry-resolve.steps.ts
Due: format-fix, lint-fix

feat: implement sandbox execution architecture
  .changeset/sandbox-execution.md
  bdd/steps/registry/registry-resolve.steps.ts
  bdd/steps/resourcex/resolver-schema.steps.ts
  bdd/steps/resourcex/resolver.steps.ts
  bun.lock
  issues/022-sandbox-execution-architecture.md
  packages/registry/package.json
  packages/registry/src/Registry.ts
  packages/registry/src/createRegistry.ts
  packages/registry/src/executor/ResolverExecutor.ts
  packages/registry/src/executor/index.ts
  packages/registry/tests/unit/LocalRegistry.test.ts
  packages/resourcex/src/index.ts
  packages/type/build.ts
  packages/type/src/TypeHandlerChain.ts
  packages/type/src/builtinTypes.ts
  packages/type/src/builtins/binary.type.ts
  packages/type/src/builtins/json.type.ts
  packages/type/src/builtins/text.type.ts
  packages/type/src/bundler.ts
  packages/type/src/index.ts
  packages/type/src/types.ts
  packages/type/tests/unit/TypeHandlerChain.test.ts
Due: format-fix, lint-fix

feat: implement add/link BDD tests and update documentation
  CLAUDE.md
  README.md
  README.zh-CN.md
  bdd/features/registry-add-publish.feature
  bdd/steps/registry/registry-add-link.steps.ts
  docs/api/arp.md
  docs/api/core.md
  docs/api/registry.md
  docs/concepts/overview.md
  docs/concepts/resourcex/registry.md
  docs/concepts/resourcex/type-system.md
  docs/guides/custom-types.md
  docs/guides/git-registry.md
  docs/guides/local-registry.md
  docs/guides/remote-registry.md
  packages/arp/README.md
  packages/core/README.md
  packages/loader/README.md
  packages/registry/README.md
  packages/registry/src/storage/LocalStorage.ts
  packages/resourcex/README.md
  packages/type/README.md
Due: format-fix, lint-fix
