Repository Deepractice/ResourceX: changes, and which lefthook commands are due for each by the changed paths.
All: format-fix, lint-fix

format-fix:
  run: bun prettier --write {staged_files} && git add {staged_files}

lint-fix:
  run: bun eslint --fix {staged_files} && git add {staged_files}

feat: add registry-api service with BDD tests
  bdd/features/core/archive.feature
  bdd/features/core/locator.feature
  bdd/features/core/manifest.feature
  bdd/features/core/resolver-schema.feature
  bdd/features/core/resolver.feature
  bdd/features/registry/registry-add-publish.feature
  bdd/features/registry/registry-get.feature
  bdd/features/registry/registry-middleware.feature
  bdd/features/registry/registry-remote-fetch.feature
  bdd/features/registry/registry-resolve.feature
  bdd/features/registry/registry.feature
  bdd/features/server/registry-api.feature
  bdd/features/type/bundled-type.feature
  bdd/package.json
  bdd/steps/server/registry-api.steps.ts
  bdd/support/registry-server.hooks.ts
  bdd/test-server.ts
  bun.lock
  issues/023-deepractice-design-tokens.md
  package.json
  services/registry-api/.gitignore
  services/registry-api/package.json
  services/registry-api/schema.sql
  services/registry-api/src/index.ts
  services/registry-api/tsconfig.json
  services/registry-api/wrangler.toml
  services/well-known/package.json
  services/well-known/src/index.ts
  services/well-known/wrangler.toml
Due: format-fix, lint-fix

refactor(registry-api): migrate to Drizzle ORM with migrations
  bdd/test-server.ts
  bun.lock
  design/registry.pen
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/package.json
  packages/ui/postcss.config.js
  packages/ui/src/Button/Button.tsx
  packages/ui/src/Button/index.ts
  packages/ui/src/Card/Card.tsx
  packages/ui/src/Card/index.ts
  packages/ui/src/Input/Input.tsx
  packages/ui/src/Input/index.ts
  packages/ui/src/NavItem/NavItem.tsx
  packages/ui/src/NavItem/index.ts
  packages/ui/src/ResourceCard/ResourceCard.tsx
  packages/ui/src/ResourceCard/index.ts
  packages/ui/src/SearchBox/SearchBox.tsx
  packages/ui/src/SearchBox/index.ts
  packages/ui/src/index.ts
  packages/ui/src/styles.css
  packages/ui/src/utils.ts
  packages/ui/stories/Button.stories.tsx
  packages/ui/stories/NavItem.stories.tsx
  packages/ui/stories/ResourceCard.stories.tsx
  packages/ui/stories/SearchBox.stories.tsx
  packages/ui/tailwind.config.js
  packages/ui/tsconfig.json
  packages/ui/tsup.config.ts
  services/registry-api/README.md
  services/registry-api/drizzle.config.ts
  services/registry-api/drizzle/0000_init.sql
  services/registry-api/drizzle/meta/0000_snapshot.json
  services/registry-api/drizzle/meta/_journal.json
  services/registry-api/package.json
  services/registry-api/schema.sql
  services/registry-api/src/db/schema.ts
  services/registry-api/src/index.ts
  services/registry-api/wrangler.toml
Due: format-fix, lint-fix

feat: add registry-web and new UI components
  bun.lock
  packages/ui/src/Breadcrumb/Breadcrumb.tsx
  packages/ui/src/Breadcrumb/index.ts
  packages/ui/src/CodeBlock/CodeBlock.tsx
  packages/ui/src/CodeBlock/index.ts
  packages/ui/src/FileList/FileList.tsx
  packages/ui/src/FileList/index.ts
  packages/ui/src/Logo/Logo.tsx
  packages/ui/src/Logo/index.ts
  packages/ui/src/ResourceCard/ResourceCard.tsx
  packages/ui/src/VersionList/VersionList.tsx
  packages/ui/src/VersionList/index.ts
  packages/ui/src/index.ts
  packages/ui/stories/Breadcrumb.stories.tsx
  packages/ui/stories/CodeBlock.stories.tsx
  packages/ui/stories/FileList.stories.tsx
  packages/ui/stories/Logo.stories.tsx
  packages/ui/stories/ResourceCard.stories.tsx
  packages/ui/stories/VersionList.stories.tsx
  services/registry-web/.gitignore
  services/registry-web/README.md
  services/registry-web/next.config.ts
  services/registry-web/open-next.config.ts
  services/registry-web/package.json
  services/registry-web/postcss.config.js
  services/registry-web/src/app/globals.css
  services/registry-web/src/app/layout.tsx
  services/registry-web/src/app/page.tsx
  services/registry-web/src/app/resource/[locator]/page.tsx
  services/registry-web/src/components/Sidebar.tsx
  services/registry-web/src/lib/api.ts
  services/registry-web/tailwind.config.ts
  services/registry-web/tsconfig.json
  services/registry-web/wrangler.jsonc
Due: format-fix, lint-fix

refactor: rename workers with resourcex prefix
  services/registry-api/README.md
  services/registry-api/wrangler.toml
  services/registry-web/README.md
  services/registry-web/src/lib/api.ts
  services/registry-web/wrangler.jsonc
  services/well-known/wrangler.toml
Due: format-fix, lint-fix

feat: deploy registry-web with OpenNext
  .prettierignore
  packages/ui/src/Breadcrumb/Breadcrumb.tsx
  packages/ui/src/CodeBlock/CodeBlock.tsx
  packages/ui/src/FileList/FileList.tsx
  packages/ui/src/Logo/Logo.tsx
  packages/ui/src/VersionList/VersionList.tsx
  packages/ui/stories/Breadcrumb.stories.tsx
  services/registry-web/src/app/layout.tsx
  services/registry-web/src/app/page.tsx
  services/registry-web/src/app/resource/[locator]/page.tsx
  services/registry-web/wrangler.jsonc
Due: none

fix(registry-web): upgrade OpenNext to fix runtime error
  bun.lock
  services/registry-web/package.json
Due: format-fix

refactor: move API to /api/v1 path under registry.deepractice.dev
  bdd/features/server/registry-api.feature
  bdd/steps/server/registry-api.steps.ts
  bdd/test-server.ts
  services/registry-api/README.md
  services/registry-api/src/index.ts
  services/registry-api/wrangler.toml
  services/registry-web/README.md
  services/registry-web/src/lib/api.ts
  services/registry-web/wrangler.jsonc
  services/well-known/src/index.ts
  services/well-known/wrangler.toml
Due: format-fix, lint-fix

refactor: migrate services to Deepractice repository
  bdd/features/server/registry-api.feature
  bdd/steps/server/registry-api.steps.ts
  bdd/support/registry-server.hooks.ts
  bdd/test-server.ts
  design/registry.pen
  issues/024-user-journey-issue-collaboration.md
  issues/025-resourcex-platform-strategy.md
  issues/026-account-service.md
  services/registry-api/.gitignore
  services/registry-api/README.md
  services/registry-api/drizzle.config.ts
  services/registry-api/drizzle/0000_init.sql
  services/registry-api/drizzle/meta/0000_snapshot.json
  services/registry-api/drizzle/meta/_journal.json
  services/registry-api/package.json
  services/registry-api/src/db/schema.ts
  services/registry-api/src/index.ts
  services/registry-api/tsconfig.json
  services/registry-api/wrangler.toml
  services/registry-web/.gitignore
  services/registry-web/README.md
  services/registry-web/next.config.ts
  services/registry-web/open-next.config.ts
  services/registry-web/package.json
  services/registry-web/postcss.config.js
  services/registry-web/src/app/globals.css
  services/registry-web/src/app/layout.tsx
  services/registry-web/src/app/page.tsx
  services/registry-web/src/app/resource/[locator]/page.tsx
  services/registry-web/src/components/Sidebar.tsx
  services/registry-web/src/lib/api.ts
  services/registry-web/tailwind.config.ts
  services/registry-web/tsconfig.json
  services/registry-web/wrangler.jsonc
  services/well-known/package.json
  services/well-known/src/index.ts
  services/well-known/wrangler.toml
Due: format-fix, lint-fix

chore: update lockfile after services removal
  bun.lock
Due: none

test: skip srt isolator tests when srt not available
  packages/registry/tests/unit/LocalRegistry.test.ts
Due: format-fix, lint-fix

feat(protocol): add @resourcexjs/protocol package for HTTP API schema
  .changeset/add-protocol-package.md
  bun.lock
  package.json
  packages/protocol/build.ts
  packages/protocol/package.json
  packages/protocol/src/endpoints.ts
  packages/protocol/src/errors.ts
  packages/protocol/src/index.ts
  packages/protocol/src/requests.ts
  packages/protocol/src/responses.ts
  packages/protocol/tsconfig.json
Due: format-fix, lint-fix

chore(protocol): sync version to 2.4.0 with other packages
  .changeset/config.json
  .changeset/sync-protocol-version.md
  packages/protocol/CHANGELOG.md
  packages/protocol/package.json
Due: format-fix

feat(storage): add @resourcexjs/storage package
  packages/storage/build.ts
  packages/storage/package.json
  packages/storage/src/FileSystemStorage.ts
  packages/storage/src/MemoryStorage.ts
  packages/storage/src/Storage.ts
  packages/storage/src/index.ts
  packages/storage/tests/unit/storage.test.ts
  packages/storage/tsconfig.json
Due: format-fix, lint-fix

feat(registry): implement two-layer architecture with Storage and Registry
  CLAUDE.md
  bdd/features/resourcex/resourcex.feature
  bdd/steps/resourcex/resourcex.steps.ts
  bun.lock
  packages/registry/package.json
  packages/registry/src/Registry.ts
  packages/registry/src/createRegistry.ts
  packages/registry/src/executor/ResolverExecutor.ts
  packages/registry/src/executor/index.ts
  packages/registry/src/index.ts
  packages/registry/src/middleware/DomainValidation.ts
  packages/registry/src/middleware/RegistryMiddleware.ts
  packages/registry/src/registries/HostedRegistry.ts
  packages/registry/src/registries/LinkedRegistry.ts
  packages/registry/src/registries/MirrorRegistry.ts
  packages/registry/src/registries/Registry.ts
  packages/registry/src/registries/index.ts
  packages/registry/src/storage/LocalStorage.ts
  packages/registry/src/storage/Storage.ts
  packages/registry/src/storage/index.ts
  packages/registry/src/types.ts
  packages/registry/tests/unit/HostedRegistry.test.ts
  packages/registry/tests/unit/LinkedRegistry.test.ts
  packages/registry/tests/unit/LocalRegistry.test.ts
  packages/registry/tests/unit/MirrorRegistry.test.ts
  packages/resourcex/package.json
  packages/resourcex/src/ResourceX.ts
  packages/resourcex/src/index.ts
  packages/resourcex/src/transport/rxr.ts
  packages/resourcex/tests/unit/ResourceX.test.ts
Due: format-fix, lint-fix

feat(resourcex): simplify API to hide internal objects
  CLAUDE.md
  packages/resourcex/src/ResourceX.ts
  packages/resourcex/src/index.ts
  packages/resourcex/tests/unit/ResourceX.test.ts
Due: format-fix, lint-fix

refactor(protocol): rewrite HTTP API protocol to match ResourceX implementation
  packages/protocol/src/endpoints.ts
  packages/protocol/src/errors.ts
  packages/protocol/src/index.ts
  packages/protocol/src/requests.ts
  packages/protocol/src/responses.ts
  packages/protocol/tests/unit/protocol.test.ts
Due: format-fix, lint-fix

fix: update tests and transport to match new API
  packages/loader/tests/unit/loadResource.test.ts
  packages/registry/src/registries/LinkedRegistry.ts
  packages/resourcex/src/ResourceX.ts
  packages/resourcex/src/arp.ts
  packages/resourcex/src/transport/index.ts
  packages/resourcex/src/transport/rxr.ts
Due: format-fix, lint-fix

chore: add changeset for unified architecture
  .changeset/unified-architecture.md
Due: format-fix

refactor: align client and server API naming
  packages/protocol/src/endpoints.ts
  packages/protocol/src/index.ts
  packages/protocol/src/requests.ts
  packages/protocol/src/responses.ts
  packages/protocol/tests/unit/protocol.test.ts
  packages/resourcex/src/ResourceX.ts
  packages/resourcex/tests/unit/ResourceX.test.ts
Due: format-fix, lint-fix

chore: update changeset and docs for new API
  .changeset/unified-architecture.md
  CLAUDE.md
Due: format-fix

ci: add Turborepo caching to speed up builds
  .github/workflows/changesets.yml
  .github/workflows/ci.yml
Due: format-fix

feat: add @resourcexjs/server package and portal app
  apps/portal/.gitignore
  apps/portal/Dockerfile
  apps/portal/design/registry.pen
  apps/portal/docker-compose.yml
  apps/portal/next-env.d.ts
  apps/portal/next.config.ts
  apps/portal/package.json
  apps/portal/postcss.config.mjs
  apps/portal/src/app/api/[[...route]]/route.ts
  apps/portal/src/app/error.tsx
  apps/portal/src/app/globals.css
  apps/portal/src/app/layout.tsx
  apps/portal/src/app/not-found.tsx
  apps/portal/src/app/page.tsx
  apps/portal/src/app/resource/[locator]/page.tsx
  apps/portal/src/components/layout/header.tsx
  apps/portal/src/components/layout/logo.tsx
  apps/portal/src/components/resource/install-tabs.tsx
  apps/portal/src/components/resource/list-item.tsx
  apps/portal/src/components/resource/sidebar.tsx
  apps/portal/src/components/ui/button.tsx
  apps/portal/src/components/ui/input.tsx
  apps/portal/src/lib/utils.ts
  apps/portal/tailwind.config.ts
  apps/portal/tsconfig.json
  bun.lock
  package.json
  packages/server/build.ts
  packages/server/package.json
  packages/server/src/handlers.ts
  packages/server/src/hono.ts
  packages/server/src/index.ts
  packages/server/src/protocol.ts
  packages/server/tsconfig.json
Due: format-fix, lint-fix

feat(cli): add @resourcexjs/cli package with rx command
  apps/portal/.gitignore
  bun.lock
  packages/cli/build.ts
  packages/cli/package.json
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/config.ts
  packages/cli/src/commands/link.ts
  packages/cli/src/commands/list.ts
  packages/cli/src/commands/pull.ts
  packages/cli/src/commands/push.ts
  packages/cli/src/commands/remove.ts
  packages/cli/src/commands/run.ts
  packages/cli/src/commands/search.ts
  packages/cli/src/index.ts
  packages/cli/src/lib/client.ts
  packages/cli/src/lib/config.ts
  packages/cli/tsconfig.json
Due: format-fix, lint-fix

feat(bdd): add CLI BDD tests with server integration
  bdd/bdd/bdd/test-data/custom/.agentvm/sandbox/data.txt
  bdd/bdd/bdd/test-data/custom/.agentvm/sandbox/test.txt
  bdd/features/cli/cli.feature
  bdd/package.json
  bdd/steps/cli/cli.steps.ts
  bun.lock
  packages/cli/src/lib/config.ts
  packages/resourcex/src/ResourceX.ts
  packages/server/src/hono.ts
Due: format-fix, lint-fix

chore: remove @resourcexjs/protocol (merged into server)
  packages/protocol/CHANGELOG.md
  packages/protocol/build.ts
  packages/protocol/package.json
  packages/protocol/src/endpoints.ts
  packages/protocol/src/errors.ts
  packages/protocol/src/index.ts
  packages/protocol/src/requests.ts
  packages/protocol/src/responses.ts
  packages/protocol/tests/unit/protocol.test.ts
  packages/protocol/tsconfig.json
Due: format-fix, lint-fix

feat: add Resource type, rx info command, and user journey tests
  bdd/cucumber.js
  bdd/fixtures/README.md
  bdd/fixtures/hello-prompt/content
  bdd/fixtures/hello-prompt/resource.json
  bdd/journeys/author/create-and-test-locally.feature
  bdd/steps/cli/cli.steps.ts
  bdd/steps/common.steps.ts
  bdd/steps/journey/author.steps.ts
  bun.lock
  packages/cli/build.ts
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/info.ts
  packages/cli/src/index.ts
  packages/resourcex/src/ResourceX.ts
  packages/resourcex/src/index.ts
Due: format-fix, lint-fix

feat: rename rx run to rx resolve, add operator journey
  bdd/features/cli/cli.feature
  bdd/fixtures/README.md
  bdd/journeys/author/create-and-test-locally.feature
  bdd/journeys/operator/deploy-registry.feature
  bdd/steps/journey/operator.steps.ts
  packages/cli/src/commands/resolve.ts
  packages/cli/src/index.ts
Due: format-fix, lint-fix

feat(bdd): add author publish-to-registry journey
  bdd/journeys/author/publish-to-registry.feature
  bdd/steps/journey/author.steps.ts
Due: format-fix, lint-fix

refactor: move CLI to apps, add rx server command
  apps/cli/build.ts
  apps/cli/package.json
  apps/cli/src/commands/add.ts
  apps/cli/src/commands/config.ts
  apps/cli/src/commands/info.ts
  apps/cli/src/commands/link.ts
  apps/cli/src/commands/list.ts
  apps/cli/src/commands/pull.ts
  apps/cli/src/commands/push.ts
  apps/cli/src/commands/remove.ts
  apps/cli/src/commands/resolve.ts
  apps/cli/src/commands/search.ts
  apps/cli/src/commands/server.ts
  apps/cli/src/index.ts
  apps/cli/src/lib/client.ts
  apps/cli/src/lib/config.ts
  apps/cli/tsconfig.json
  bdd/steps/cli/cli.steps.ts
  bdd/steps/journey/author.steps.ts
  bun.lock
Due: format-fix, lint-fix

refactor: unify ~/.resourcex directory structure
  apps/cli/src/commands/server.ts
  apps/cli/src/lib/config.ts
  apps/cli/src/lib/paths.ts
Due: format-fix, lint-fix

refactor: separate client and server storage, rename hosted to local
  apps/cli/src/commands/server.ts
  apps/cli/src/lib/paths.ts
  data/localhost/hello-prompt.text/1.0.0/archive.tar.gz
  data/localhost/hello-prompt.text/1.0.0/manifest.json
  packages/resourcex/src/ResourceX.ts
Due: format-fix, lint-fix

chore: add data/ to gitignore, remove accidentally committed test data
  .gitignore
  data/localhost/hello-prompt.text/1.0.0/archive.tar.gz
  data/localhost/hello-prompt.text/1.0.0/manifest.json
Due: format-fix

feat: implement Go-style locator and RegistryAccessChain
  packages/core/src/primitives/format.ts
  packages/core/src/primitives/parse.ts
  packages/core/src/types/rxl.ts
  packages/registry/src/chain/CacheAccessor.ts
  packages/registry/src/chain/LinkedAccessor.ts
  packages/registry/src/chain/LocalAccessor.ts
  packages/registry/src/chain/RegistryAccessChain.ts
  packages/registry/src/chain/RegistryAccessor.ts
  packages/registry/src/chain/RemoteAccessor.ts
  packages/registry/src/chain/index.ts
  packages/registry/src/index.ts
  packages/registry/src/registries/LocalRegistry.ts
  packages/registry/src/registries/index.ts
  packages/registry/tests/unit/LocalRegistry.test.ts
  packages/resourcex/src/ResourceX.ts
  packages/resourcex/src/transport/rxr.ts
  packages/server/src/hono.ts
  packages/server/src/index.ts
Due: format-fix, lint-fix

refactor(bdd): update tests to use new ResourceX API
  bdd/steps/arp/rxr-transport.steps.ts
  bdd/steps/documentation/examples.steps.ts
  bdd/steps/registry/git.steps.ts
  bdd/steps/registry/github.steps.ts
  bdd/steps/registry/local-cache.steps.ts
  bdd/steps/registry/middleware.steps.ts
  bdd/steps/registry/registry-add-link.steps.ts
  bdd/steps/registry/registry-get.steps.ts
  bdd/steps/registry/registry-resolve.steps.ts
  bdd/steps/registry/registry.steps.ts
  bdd/steps/resourcex/archive.steps.ts
  bdd/steps/resourcex/locator.steps.ts
  bdd/steps/resourcex/manifest.steps.ts
  bdd/steps/resourcex/resolver-schema.steps.ts
  bdd/steps/resourcex/resolver.steps.ts
  packages/resourcex/src/index.ts
Due: format-fix, lint-fix

developing
  apps/cli/src/commands/config.ts
  apps/cli/src/commands/info.ts
  bdd/features/cli/cli.feature
  bdd/journeys/author/collaboration.feature
  bdd/journeys/author/create-and-test-locally.feature
  bdd/journeys/author/development-workflow.feature
  bdd/journeys/author/manage-multiple-resources.feature
  bdd/journeys/author/publish-to-registry.feature
  bdd/journeys/author/update-published-resource.feature
  bdd/journeys/consumer/cache-management.feature
  bdd/journeys/consumer/discover-and-use.feature
  bdd/journeys/consumer/error-handling.feature
  bdd/journeys/operator/deploy-registry.feature
  bdd/steps/cli/cli.steps.ts
  bdd/steps/journey/consumer.steps.ts
  bdd/steps/journey/operator.steps.ts
  packages/core/src/primitives/format.ts
  packages/core/src/primitives/locate.ts
  packages/core/src/primitives/parse.ts
  packages/core/src/types/rxl.ts
  packages/registry/src/registries/LinkedRegistry.ts
  packages/registry/src/registries/LocalRegistry.ts
  packages/registry/src/registries/MirrorRegistry.ts
  packages/resourcex/src/ResourceX.ts
  packages/type/src/builtinTypes.ts
Due: format-fix, lint-fix

developing
  apps/cli/src/commands/unlink.ts
  apps/cli/src/index.ts
  apps/cli/src/lib/config.ts
  bdd/features/cli/cli.feature
  bdd/features/resourcex/resourcex.feature
  bdd/journeys/author/manage-multiple-resources.feature
  bdd/steps/cli/cli.steps.ts
  bdd/steps/journey/author.steps.ts
  bdd/steps/resourcex/resourcex.steps.ts
  packages/resourcex/src/ResourceX.ts
  packages/server/src/handlers.ts
Due: format-fix, lint-fix

Path conditions:
  format-fix: any of: *.{js,ts,json,md,yml,yaml}
  lint-fix: any of: *.{js,ts}
